
html {
    height:100%; /* set full height*/
}
body {
    min-height:100%;  /* set full height*/
    background-image: url('bkg.jpg');
    position: relative;
}

.inner-content {
    height: inherit;
}
label {
    color: white;
    margin: 5px;
}
.textbox {
    bottom: 10px;
    position: absolute;
    right: 10px;
    width: 50%;
    padding: 10px;
}
.list-group {
    padding: 50px;
}